@model Category
@{
    ViewData["Title"] = "CategoryDetails";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
	iakademi47Context context = new iakademi47Context();
}

<!-- BEGIN SAMPLE TABLE PORTLET-->
<div class="portlet box purple">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-cogs"></i>@Html.DisplayFor(model => model.CategoryName) Kategorisinin Detayları
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
			<a href="#portlet-config" data-toggle="modal" class="config">
			</a>
			<a href="javascript:;" class="reload">
			</a>
			<a href="javascript:;" class="remove">
			</a>
		</div>
	</div>
	<div class="portlet-body">
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.CategoryID)
						</th>
						<td>
							@Html.DisplayFor(model => model.CategoryID)
						</td>
					</tr>


					<tr>
						<th>
							@Html.DisplayNameFor(model => model.CategoryName)
						</th>
						<td>
							@Html.DisplayFor(model => model.CategoryName)
						</td>
					</tr>

					<tr>
						<th>
							@Html.DisplayNameFor(model => model.ParentID)
						</th>
						<td>
							@Html.DisplayFor(model => model.ParentID)
						</td>
					</tr>

					<tr>
						<th>
							@Html.DisplayNameFor(model => model.Active)
						</th>
						<td>
							@Html.DisplayFor(model => model.Active)
							@ViewBag.categoryname2
						</td>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>
<!-- END SAMPLE TABLE PORTLET-->
